<?xml version="1.0"?>
<config>
   <sections>
        <catalog>
            <groups>
                <twittercard translate="label" module="catalog">
                    <label>Pw_TwitterCard</label>
                    <sort_order>970</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                     	<twitter_username translate="label">
                            <label>Twitter Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </twitter_username>
                    </fields>
                </twittercard>
            </groups>
        </catalog>
    </sections>
</config>