<?xml version="1.0"?>
<config>
    <modules>
        <Zeboutique_Comparer>
            <version>0.1.0</version>
        </Zeboutique_Comparer>
    </modules>
    <global>
        <blocks>
            <comparer>
                <rewrite>
                    <adminhtml_comparer_edit_product>Zeboutique_Comparer_Block_Adminhtml_Comparer_Edit_Product</adminhtml_comparer_edit_product>
                </rewrite>
            </comparer>
        </blocks>
        <helpers>
            <comparer>
                <rewrite>
                    <collect>Zeboutique_Comparer_Helper_Collect</collect>
                </rewrite>
            </comparer>
        </helpers>
    </global>
    <default>
        <comparer>
            <transcodage_categories>
                <pure>pure-shopping.csv</pure>
                <legu>leguide.csv</legu>
                <goog>google-shopping.csv</goog>
            </transcodage_categories>
            <path>
                <csv>/var/www/zeboutique/app/code/local/Zeboutique/Comparer/etc/</csv>
            </path>
        </comparer>
    </default>
</config>