<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Featuredproductvertscroller>
            <version>1.6.2.0</version>
        </Magentothem_Featuredproductvertscroller>
    </modules>
    <frontend>
        <routers>
            <featuredproductvertscroller>
                <use>standard</use>
                <args>
                    <module>Magentothem_Featuredproductvertscroller</module>
                    <frontName>featuredproductvertscroller</frontName>
                </args>
            </featuredproductvertscroller>
        </routers>
        <layout>
            <updates>
                <featuredproductvertscroller>
                    <file>featuredproductvertscroller.xml</file>
                </featuredproductvertscroller>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredproductvertscroller>
				<use>admin</use>
				<args>
					<module>Magentothem_Featuredproductvertscroller</module>
					<frontName>featuredproductvertscroller</frontName>
				</args>
			</featuredproductvertscroller>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="featuredproductvertscroller">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<featuredproductvertscroller translate="title" module="featuredproductvertscroller">
						<title>Featured Product Vertical Scroller</title>
						<sort_order>46</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/featuredproductvertscroller</action>
							</configuration>
						</children>
					</featuredproductvertscroller>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Featuredproductvertscroller>
							<title>Featuredproductvertscroller Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Featuredproductvertscroller>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<featuredproductvertscroller>
					<file>featuredproductvertscroller.xml</file>
				</featuredproductvertscroller>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <featuredproductvertscroller>
                <class>Magentothem_Featuredproductvertscroller_Model</class>
                <resourceModel>featuredproductvertscroller_mysql4</resourceModel>
            </featuredproductvertscroller>
            <featuredproductvertscroller_mysql4>
                <class>Magentothem_Featuredproductvertscroller_Model_Mysql4</class>
                <entities>
                    <featuredproductvertscroller>
                        <table>featuredproductvertscroller</table>
                    </featuredproductvertscroller>
                </entities>
            </featuredproductvertscroller_mysql4>
        </models>
        <resources>
            <featuredproductvertscroller_setup>
                <setup>
                    <module>Magentothem_Featuredproductvertscroller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproductvertscroller_setup>
            <featuredproductvertscroller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproductvertscroller_write>
            <featuredproductvertscroller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproductvertscroller_read>
        </resources>
        <blocks>
            <featuredproductvertscroller>
                <class>Magentothem_Featuredproductvertscroller_Block</class>
            </featuredproductvertscroller>
        </blocks>
        <helpers>
            <featuredproductvertscroller>
                <class>Magentothem_Featuredproductvertscroller_Helper</class>
            </featuredproductvertscroller>
        </helpers>
    </global>
	<default>
		<featuredproductvertscroller>
			<featuredproductvertscroller_config>
				<enabled>1</enabled>
				<left>0</left>
				<right>1</right>
				<auto>0</auto>
				<title>Featured Products</title>
				<sort>name</sort>
				<direction>asc</direction>
				<width_scroller>172</width_scroller>
				<height_scroller>348</height_scroller>
				<price>1</price>
				<review>0</review>
				<addtocart>0</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<description>1</description>
				<maxlength>70</maxlength>
				<qty>6</qty>
				<items_show>3</items_show>
				<items_scroll>1</items_scroll>
				<animation>1000</animation>
				<width_thumbnail>105</width_thumbnail>
				<height_thumbnail>105</height_thumbnail>
			</featuredproductvertscroller_config>
		</featuredproductvertscroller>
	</default>
</config>